<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace = @Mapper 경로 -->
<mapper namespace="hello.helloSpring.repository.MemberRepository">
    <select id="findAll" resultType="Member">
        select * from member
    </select>

    <select id="save" resultType="Member">
        insert into member (name) values (#{name})
    </select>
</mapper>